﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "PROYEC";
}
<br /><br />



<div class="container theme-showcase" role="main">


    <div class="jumbotron">


        <h1>Vestidos para sillas y manteleria.</h1>
        <br /><br />
        <video controls>
            <source src="~/Images/n.mp3" type="video/mp4" >

        </video>



    </div>
</div>