﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "PROYEC";
}
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
        <h1>Sillas para adultos y niños.</h1>
        <br /><br />
        <video controls>
            <source src="~/Images/n.mp3" type="video/mp4">

        </video>
    </div>
</div>