﻿
   @{
       Layout = "~/_SiteLayout.cshtml";
       Page.Title = "PROYEC";
}
    <br /><br />  <br />    
  <div class="container theme-showcase" role="main">

            
            <div class="jumbotron">
                <font color="#1BDD4F">  <h1>¿Cómo planear un evento en ALQUILERES ST?</h1></font>
</div>
            <img class="img-rounded" src="Images/gy.jpg" alt="Generic placeholder image" width="1140" height="500">
        </div>
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
        <h3>Cómo planear y organizar un evento en Compensar</h3>

        <p>Conózca todo lo que debe tener en cuenta a la hora de planear, organizar y llevar a cabo un evento</p>

        <h3>¿Cuándo?</h3>
        <p>
            Tenga en cuenta si las fechas del evento son flexibles o fijas, esto le permitirá validar opciones de disponibilidad de horarios y días y seguramente conseguir mejores precios de temporada.
            Determine el tiempo de anticipación para informar a sus asistentes del evento, así como los involucrados como moderadores, expositores, artistas o conferencistas.
            Establezca el tiempo de anticipación de salida en medios de comunicación relacionados con el evento.
            Calcule el tiempo de cada actividad de la agenda, tenga claridad de las actividades que requieren una preparación previa de los asistentes, expositores, moderadores o de material de ayuda, su distribución y la acomodación del salón.
            Tenga en cuenta los tiempos mínimos para que sus asistentes consuman los alimentos y bebidas, de manera cómoda y agradable, así como el tiempo para registro, uso de servicios sanitarios, tiempo para que se desplacen de escenarios o realicen preparación de contenidos, reciban o entreguen equipos de traducción o materiales especiales.
        </p>

        <h3>¿Dónde?</h3>
        <h4>Transporte</h4>
        <p>
            Valide la distancia del lugar del evento con sistemas de transporte que usarán sus invitados para llegar a tiempo: distancia aeropuerto, distancia terminales de transporte, distancia hoteles o lugares de alojamiento, centros comerciales, parques o sitios turísticos. Esto le permitirá a sus invitados a programar su estadía durante el evento y sus desplazamientos para llegar a tiempo a todas las actividades.
            Sus invitados requieren transportes complementarios: Si / No. Planee con la suficiente oportunidad la forma como sus invitados llegarán al lugar del evento.
            Alojamiento
        </p>
        <p>
            Valide el número y tipo de las habitaciones, de acuerdo con el perfil y requerimientos de sus invitados o asistentes.
            Requiere Suites Especiales, requiere habitaciones con Camas King Size, Camas Dobles, Camas de Soltero, las habitaciones deben estar en zona de para No-fumadores.
            El alojamiento es en el mismo lugar del evento, Si/No. En caso que no lo sea, verifique las opciones cercanas, el tiempo y modo de desplazamiento.
            Asegure la entidad con la cual sus invitados podrán hacer reserva de alojamiento o de transporte.
            Valide la seguridad del lugar del evento, del alojamiento y de los espacios del evento.
        </p>
    </div>
</div>
