﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "PROYEC";
}
<title>cotizar</title>

<div style="text-indent: 15cm"><h1> <p class="bg-primary">SOLICITE UN EVENTO </p></h1></div>
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
        
        <img class="img-rounded" src="Images/uno.jpg" alt="Generic placeholder image" width="1000" height="400">
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <br />

        <p class="lead">Ofrecemos la posibilidad de realizar sus eventos empresariales y sociales, a la medida de las necesidades y requisitos de su empresa, desde la planeación hasta el cierre del evento. Contamos con espacios en Bogotá, Cajicá, Girardot y en varias zonas del país gracias a nuestra red de proveedores.</p>
        <p class="lead">
            Diligencie y envíe el siguiente formulario con los detalles de su evento. Un asesor se contactará con usted y le enviará la propuesta comercial.</pclass>
            <br /><br />



            <br />
    </div>







</div>

<div class="container theme-showcase" role="main">
   

        <div class="col-lg-6">
            <form>
                <font size=4>
                    <br />

                    <label for="Numero de Identificación   "> Numero de Identificación</label>
                    <input type="text" placeholder="Numero de Identificación" />
                    <br /><br />
                    <label> Tipo de evento   </label>
                    <select name="" id="">
                        <option value="Bautizo">Bautizo</option>
                        <option value="Primera Comunion">Primera Comunion</option>
                        <option value="matrimonio">matrimonio</option>

                    </select>
                    <br /><br />
                    <label for="Nombre del Evento   ">   Nombre del Evento</label>
                    <input type="text" placeholder="Nombre del Evento" />
                    <br /><br />
                    <label for="Nombre del Cliente   "> Ingrese su nombre</label>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                    <br><br>

                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    <br><br>
                    <label for="Numero de Identificación   "> Telefono</label>
                    <input type="text" placeholder="Telefono" />
                    <br><br>
                </font>
            </form>
        </div>

        <div class="col-lg-6">
            <form>
                <font size=4>
                    <br />

                    <label for="Numero de Identificación   "> Sede de Evento</label>
                    <input type="text" placeholder="Sede de Evento" />
                    <br /><br />
                    <br />

                    <label for="Numero de Identificación   "> Fecha y hora inicio del evento</label>
                    <input type="text" placeholder="DD/MM/AA" />
                    <br /><br />
                    <br />

                    <label for="Numero de Identificación   "> Fecha y hora fin del evento</label>
                    <input type="text" placeholder="DD/MM/AA" />
                    <br /><br />
                    <br />

                    <label for="Numero de Identificación   ">Número de asistenteso</label>
                    <input type="text" placeholder="                  #                " />
                    <br /><br />
                    <br />

                    <label for="Numero de Identificación   ">Servicios requeridos</label>
                    <br />
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Alimentos
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Bebidas y licores
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Decoración
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Show musical
                    </label>
                    <br /><br />

                    <a class="btn btn-info" href="~/boton3.cshtml" role="button" type="button">Enviar</a>
                    <br />
                </font>
            </form>

        </div>
    </div>
   




