﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "PROYEC";
}
<br /><br />
<div style="text-indent: 17cm"><font size=10> <font color="#B31BDD">  <h1>EVENTOS</h1></font> </font></div>
<br /><br />
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
        
       
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">MATRIMONIOS </p></h1></div>
       

        <img class="img-rounded" src="~/Images/matri.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 8cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<a target="_blank" href="~/sitios_interes.cshtml">--></a></p></div>
        <br /><br />
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">ANIVERSARIO </p></h1></div>


        <img class="img-rounded" src="~/Images/ani.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 8cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<a target="_blank" href="~/sitios_interes.cshtml">--></a></p></div>
        <br /><br />
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">FIESTAS INFANTILES </p></h1></div>


        <img class="img-rounded" src="~/Images/fie.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 8cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<a target="_blank" href="~/sitios_interes.cshtml">--></a></p></div>
        <br /><br />
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">15 AÑOS </p></h1></div>


        <img class="img-rounded" src="~/Images/15.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 8cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<a target="_blank" href="~/sitios_interes.cshtml">--></a></p></div>
    </div>
</div>