﻿
        @{
            Layout = "~/_SiteLayout.cshtml";
            Page.Title = "PROYEC";
            
        }

<font face=",arial,verdana">
    <div style="text-indent: 15cm"><h1> <p class="bg-primary">¿QUÉ HACEMOS? </p></h1></div>
    <br /><br />
    <div class="container theme-showcase" role="main">



        <p class="text-justify"><h2>Somos una empresa encargada del alquiler de productos para la decoración y preparacón de eventos.</h2></p>
        <p class="text-justify"><h2>Te proveemos de distintos tipos de sillas, mesas, vestidos, moños, manteleria, bandejas y demas árticulos que son necesarios para tu celebración. En Alquileres ST nos encargamos de preparar con exito tu evento especial.. </h2> </p>


    </div>




    <br /><br /><br />
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">

            <img class="img-rounded" src="Images/que.jpg" alt="Generic placeholder image" width="1000" height="260">
        </div>
    </div>
</font>   
                        


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
